<h2>Por país:</h2>
<hr class="my-4">

<div class="row">
    <div class="col">

        <app-pais-input
            (onEnter)="buscar( $event )"
            (onDebounce)="sugerencias( $event )"
            placeholder="Buscar por país...">
        </app-pais-input>

    </div>
</div>

<ul class="list-group" *ngIf="sugerenciaPaises.length > 0">
    <li class="list-group-item" *ngFor="let sugerencia of sugerenciaPaises">
        <a [routerLink]="['/pais', sugerencia.cca2]" class="nav-link">
            {{ sugerencia.name.common }}
        </a>
    </li>
</ul>

<div class="alert alert-danger" *ngIf="hayError; else noHayError">
    No hemos encontrado nada con el término {{ errorTermino }}
</div>

<ng-template #noHayError>
    <div class="row" >
        <div class="col">

            <app-pais-tabla [listaPaises]="listaPaises"></app-pais-tabla>

        </div>
    </div>
</ng-template>
